* {
    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    overflow: hidden;
}

iframe {
    width: 384px;
    height: 512px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    opacity: 0;
}
iframe:only-child {
    display: block;
}

img {
    max-width: 100%;
}

br + br {
    display: none;
}

body.FitToWindow img {
    max-width: 100%;
    max-height: 100%;
}

a {
    text-decoration: none;
    color: black;
}

.controller .dropdown .progress {
    height: 25%;
    width: 100%;
    position: relative;
    top: -75%;
    opacity: 0.5;
}

.progress {
    overflow: hidden;
}

.progress .complete {
    height: 100%;
    background: linear-gradient(270deg, #0000ff, #c8c8ff);
    background-size: 400% 400%;
    float: left;
    animation: downloading 3s ease infinite;
}

@keyframes downloading {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.progress.downloading .complete {
    height: 100%;
    background: linear-gradient(270deg, #00ff00, #c8ffc8);
    background-size: 400% 400%;
    float: left;
    animation: downloading 3s ease infinite;
}

.progress .remain {
    height: 100%;
    background: linear-gradient(270deg, #ff0000, #ffc8c8);
    background-size: 400% 400%;
    float: left;
    -webkit-animation: downloading 3s ease infinite;
}

.contentBox {
    text-align: center;
    position: absolute;
    height: calc(100% - 3em);
    width: 100%;
    top: 3em;
    overflow-y: scroll;
    z-index: 1;
}

body.Hide .contentBox {
    height: 100%;
    top: 0;
}

.controller {
    width: 100%;
    height: 3em;
    background-color: #f9f9f9;
    position: fixed;
    top: 0;
    z-index: 5;
}

body.Hide .controller {
    display: none;
}

.controller > div, .controller > a {
    display: block;
    height: 100%;
    float: left;
    text-align: center;
}

.controller > * {
    border: solid 1px grey;
}

.controller input[type="text"] {
    width: 100%;
    float: left;
    height: 50%;
    text-align: center;
}

.controller input[type="text"]:not([disabled]) {
    text-decoration: blink;
    background: linear-gradient(270deg, grey, white, grey);
    background-size: 400% 400%;
    animation: downloading 15s ease infinite;
}

.controller input[type="text"][disabled] {
    background-color: rgba( 255, 255, 255, 1 );
}

.controller .backward:hover, .controller .forward:hover {
    background-color: #d1d1d1;
}

.controller .backward {
    padding: 1em 1em;
    width: 10%;
}

.controller .functionBox {
    width: 10%;
}

.functionBox > div {
    width: 50%;
    height: 50%;
    float: left;
    position: relative;
    padding-top: 3px;
}

.functionBox .Download {

}

body[data-automatic="1"] .functionBox .Automatic {
    color: lime;
}

.functionBox [disabled] {
    color: rgb(249, 249, 249);
}

.controller .dropdown {
    width: 80%;
}

.controller .dropdown.comic-title {
    width: 100%;
}

.controller .functionBox ~ .dropdown {
    width: 70%;
}

.controller .forward {
    padding: 1em 1em;
    width: 10%;
}

.backward[href="#"], .backward[href="#"]:hover, .forward[href="#"], .forward[href="#"]:hover {
    color: white;
    background: white;
}

.dropbtn {
    width: 100%;
    height: 75%;
    line-height: 1.2em;
    font-size: 0.9em;
    position: relative;
    top: 25%;
}

.dropbtn.comic-title {
    height: 100%;
    line-height: 3em;
    top: 0;
}

.dropbtn .title {
    color: darkblue;
}

.dropbtn .episode {
    color: chocolate;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 10;
    max-height: 500%;
    overflow-y: auto;
    width: 100%;
    text-align: center;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    background-color: rgba( 0, 0, 0, 0 );
    text-decoration: none;
    display: block;
}

.hack-box {
    position: fixed;
    top: 50px;
    left: 0;
    width: 50px;
    height: 50px;
    z-index: 99999;
    background-color: rgba( 0, 0, 0, 0.5 );
}

.hack-box div {
    width: 1px;
    height: 1px;
    float: left;
    font-size: 400%;
    overflow: hidden;
}

.hack-box a {
    color: rgb( 0, 0, 0 );
    transform: translate( -50%, -50% );
}

.hack-box a:visited {
    color: rgb( 0, 255, 0 );
}

.dropdown-content a:hover, .dropdown-content a.selected {
    background-color: #d1d1d1;
}

.dropdown-content a {
    position: relative;
}

.dropdown-content a div, .dropbtn > div:first-child {
    display: none;
    background-color: greenyellow;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate( -50%, -50% );
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.dropdown-content a.visited div {
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.pageView {
    position: fixed;
    z-index: 5;
    right: 1%;
    bottom: 1%;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding-top: 0.5em;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1em;
    width: 4em;
    height: 2em;
}
/**/
.SameAuthors, .SameAuthors * {
    position: relative;
}
.SameAuthors {
    padding-top: 3em;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
.SameAuthors > .wrap {

}
/* Request more | start */
.query-result {
    z-index: 1;
    position: absolute;
    top: 32px;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.mode-selector[data-mode=search] ~ .query-result {
    top: 64px;
}
.query-result .content {
    margin: 32px 0 32px 0;
    overflow: hidden;
}
.query-result .request-more {
    width: 100%;
    height: 32px;
    display: none;
    position: fixed;
    background: whitesmoke;
    bottom: 0;
    text-align: center;
    line-height: 32px;
    z-index: 5;
}
.query-result[data-remain=true] .request-more {
    display: block;
}
.query-result .list-shown.exist {
    display: block !important;
}
.query-result .list-shown {
    height: 100%;
    width: 32px;
    top: 0;
    position: fixed;
    line-height: 100vh;
    text-align: center;
    display: none;
    color: whitesmoke;
    background: rgba( 128, 128, 128, 0.5 );
    z-index: 3;
}
.query-result .list-shown.prev {
    left: 0;
}
.query-result .list-shown.next {
    right: 0;
}
/* Request more | end */
/* Comic information box | start */
div.comic-information-box {
    width: calc( 128px + 64px );
    height: calc( 256px + 32px );
    float: left;
    overflow: hidden;
    color: rgba( 255, 255, 255, 1 );
    margin: 3px;
    border: solid rgba( 128, 128, 128, 0.75 ) 3px;
    transition-duration: 500ms;
}

div.comic-information-box:hover {
    z-index: 4;
    transform: translate( 4px, 4px );
    box-shadow: 0 0 16px white, 0 0 16px white;
}

div.comic-information-box:hover::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: rgba( 0, 0, 0, 0.75 );
    pointer-events: none;
}

div.comic-information-box > img.graphic {
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
}

div.comic-information-box > div.text {
    position: absolute;
    bottom: 0;
    width: 1000%;
    height: 3em;
    font-size: 1em;
    line-height: 3em;
    text-align: center;
    background: rgba( 0, 0, 0, 0.75 );
    display: flex;
}

div.comic-information-box > div.text > div.first-wrap {
    height: 100%;
    display: flex;
    animation: toLeft 5s linear infinite;
}

div.comic-information-box > div.text > div.first-wrap > div.second-wrap {
    height: 100%;
    display: flex;
    animation: toLeft 2.5s linear infinite;
    animation-play-state: paused;
}

div.comic-information-box:hover > div.text > div.first-wrap > div.second-wrap {
    animation-play-state: running;
}

div.comic-information-box > div.text > div.first-wrap > div.second-wrap > div {
    float: left;
    padding: 0 10px 0 10px;
}

@keyframes toLeft {
    0% { transform: translateX( 0 ); }
    100% { transform: translateX( -33.3% ); }
}
/* Comic information box | end /
